@use "sass:map";
@use "sass:color";

$colors: (
    rt_text_primary: #e6e6e6,
    rt_text_secondary_white: #d7d7d7,
    rt_text_primary_black: #2e3131,
    rt_text_secondary_black: #5c5f5f,
    rt_primary_background: #121212,
    rt_secondary_background: #171717,
    rt_white: #ffffff,
    rt_primaryOaccent: #aaaaaa,
    rt_header_white: #f5f5f5,
    rt_red_color: #df2b3d
);


@mixin fourk {
    @media (min-width: 1441px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: 1300px) {
        @content;
    }
}

@mixin from-mini {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin mini {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin ls {
    @media (max-width: 624px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin xs {
    @media (max-width: 350px) {
        @content;
    }
}

@function colormap($color-name) {
    @if map.has-key($colors, $color-name) {
        @return map.get($colors, $color-name);
    } @else {
        @error "Color `#{$color-name}` not found in the colors map.";
    }
}
